<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper">

	<!-- 관리자 로그인 확인 -->
	<select id='loginCheck' resultType="com.webook.domain.AdminVO">
		SELECT * FROM book_admin
		<where>
			admin_id=#{admin_id} AND admin_pass=#{admin_pass}
		</where>
	</select>
	
	<!-- 대시보드 -->
	<!-- 오늘 주문 건수 -->
	<select id="selectTodayOrder" resultType="int">
		SELECT count(*)
		FROM order_list
		<where>
			to_char(payment_date,'YY-MM-DD') = TO_CHAR(SYSDATE, 'YY-MM-DD')
		</where>
	</select>
	
	<!-- 오늘 게시글 수 -->
	<select id="selectTodayBoard" resultType="int">
		SELECT count(*)
		FROM bookreport
		<where>
			to_char(WRITE_DATE,'YY-MM-DD') = TO_CHAR(SYSDATE, 'YY-MM-DD')
		</where>
	</select>
	
	<!-- 오늘 매출 조회 -->
	<select id="selectTodaySales" resultType="int">
		SELECT NVL(sum(total_price),0)
		FROM order_list olist left outer join (select NVL(sum(total_price),0) total_price, order_no
                                    from order_items  
                                    group by order_no) oitem
        ON olist.order_no=oitem.order_no
        <where>
        	to_char(olist.payment_date,'YY-MM-DD' )= TO_CHAR(SYSDATE, 'YY-MM-DD')
        </where>
	</select>
	
	<!-- 회원 목록 검색 -->
	<select id="getMemberList" resultType="com.webook.domain.MemberVO">
		SELECT user_email, user_name, user_tel, to_char(user_birth,'YYYY-MM-DD') user_birth, to_char(user_regdate,'YY-MM-DD') user_regdate, blacklist
		FROM customer_info
		WHERE blacklist = 'N'
	</select>
	
	
	
	<!-- 차트 -->	
	<!-- 지난 주 일일 매출 -->
	<select id="LastWeekSales" resultType="com.webook.domain.ChartVO">
	<![CDATA[
	SELECT weeklist.payment_date chartTitle, NVL(weeksales.total_price,0) chartResult
	FROM ( 	
		select (rownum) payment_date
		from dual
		connect by level <= 7) weeklist 
		left outer join	(
			select 
				to_char(olist.payment_date,'d') payment_date, 
				sum(total_price) total_price
			from 
				order_list olist left outer join (
					select 
						sum(total_price) total_price, 
						order_no
					from 
						order_items
					group by 
						order_no) oitem
				ON olist.order_no=oitem.order_no
			WHERE 
				to_char(olist.payment_date, 'YY-MM-DD') 
					BETWEEN to_char(trunc(sysdate,'iw') - 7, 'YY-MM-DD') 
					AND to_char(trunc(sysdate, 'iw') - 1, 'YY-MM-DD')
			GROUP BY 
				to_char(olist.payment_date, 'd')
		) weeksales
		on weeklist.payment_date = weeksales.payment_date
	order by 
		chartTitle
		]]>
	</select>
	
	<!-- 월별 회원가입 수 -->
	<select id="MonthMemCnt" resultType="com.webook.domain.ChartVO">
	<![CDATA[
		SELECT monthlist.dt chartTitle, NVL(newmemcnt.cnt,0) chartResult
		FROM (  select to_char(user_regdate,'MM') AS user_regdate, count(*) cnt
        		from customer_info
        		where to_char(user_regdate,'yyyy') = '2022' 
        		group by to_char(user_regdate,'MM')) newmemcnt 
        	right outer join 
        	 (  select lpad(level,2,'0') as dt
                from dual
                connect by level <= 12) monthlist
		ON newmemcnt.user_regdate = monthlist.dt
		ORDER BY chartTitle
	]]>
	</select>
	
	<!-- 월별 매출 -->
	<select id="MonthSales" resultType="com.webook.domain.ChartVO">
	<![CDATA[
		SELECT chartTitle.dt chartTitle, NVL(chartResult.total_price,0) chartResult
		FROM ( 	select lpad(level,2,'0') as dt
        		from dual 
        		connect by level <= 12) chartTitle left outer join (
        			SELECT to_char(olist.payment_date,'MM') payment_date, NVL(sum(total_price),0) total_price
 					FROM order_list olist left outer join ( 
									                   select sum(total_price) total_price, order_no
									                   from order_items  
									                   group by order_no) oitem 
 					ON olist.order_no=oitem.order_no
 					GROUP BY payment_date) chartResult
		ON chartTitle.dt = chartResult.payment_date
		ORDER BY chartTitle
	]]>
	</select>
	
	<!-- 카테고리별 매출(TOP 5) -->
	<select id="TopCategory" resultType="com.webook.domain.ChartVO">
	<![CDATA[
		SELECT *
		FROM (	SELECT plist.genre_no chartTitle , sum(oitem.total_price) chartResult
				FROM order_items oitem inner join product_list plist
				ON oitem.product_no = plist.product_no
		GROUP BY plist.genre_no
		ORDER BY chartResult desc)
		WHERE ROWNUM <= 5
	]]>
	</select>
	
	<!-- 연령대 별 가입자 수 -->
	<select id="AgeNewMember" resultType="com.webook.domain.ChartVO">
	<![CDATA[
		SELECT age_list chartTitle , count(*) chartResult
		FROM (SELECT 
		    CASE WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 10 and 19 THEN '10대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 20 and 29 THEN '20대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 30 and 39 THEN '30대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 40 and 49 THEN '40대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 50 and 59 THEN '50대'
		         ELSE '60대이상' 
		         END  age_list
		FROM customer_info) 
		GROUP BY age_list
	]]>
	</select>

	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="com.webook.domain.ProductVO">
	
		INSERT INTO product_list(product_no,product_name,product_writer,genre_no
								,product_publisher,product_date,product_cnt
								,product_price,product_desc,product_lang
								<if test="product_desc_image != null">
								,product_desc_image
								</if>
								)
		VALUES (#{product_no},#{product_name},#{product_writer},#{genre_no}
								,#{product_publisher},#{product_date},#{product_cnt}
								,#{product_price},#{product_desc},#{product_lang}
								<if test="product_desc_image != null">
								,#{product_desc_image}
								</if>
								)
	</insert>
	
	<!-- 재고 목록 출력 -->
	<select id="getProductList" resultType="com.webook.domain.ProductVO">
		SELECT product_no,genre_no, product_name, product_writer,product_cnt 
		FROM product_list
	</select>
	
	<!-- 상품 수량 변경 -->
	<update id="modifyCount" parameterType="com.webook.domain.ProductVO">
		UPDATE product_list
		SET product_cnt =  product_cnt +  #{product_cnt}
		WHERE product_no = #{product_no}
	</update>

	<!-- 신고 게시글 목록 출력 -->
	<select id="getReportCommuList" resultType="com.webook.domain.ReportcommunityVO">
		SELECT *
		FROM REPORT_ARTICLE
		ORDER BY rep_article_date desc
	</select>
	
	<!-- 신고 게시글 삭제 -->
	<delete id="deleteCommunity" parameterType="int">
		DELETE FROM REPORT_ARTICLE
		WHERE rep_article_no = #{rep_article_no}
	</delete>
	
	<!-- 블랙리스트 회원 목록 출력 -->
	<select id="blacklistmem" resultType="com.webook.domain.MemberVO">
		SELECT user_email, user_name, user_tel, to_char(user_birth,'YYYY-MM-DD') user_birth, to_char(user_regdate,'YY-MM-DD') user_regdate, blacklist
		FROM customer_info
		WHERE blacklist = 'Y'
	</select>
	
	<!-- 블랙리스트 변경 -->
	<update id="goblacklist" parameterType="string">
		UPDATE customer_info
		SET blacklist = 'Y'
		WHERE user_email = #{user_email}
	</update>
 

</mapper>