<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin.mapper">


	<!-- 대시보드 -->
	<!-- 오늘 주문 건수 -->
	<!-- <select id="orderproduct" resultType="Member">
		SELECT count(order_no)
		FROM order_list
		WHERE DATE(#{payment_date}) = DATE(sysdate());	
	</select> -->
	
	<!-- 회원 목록 검색 => 블랙리스트 추가 -->
	<select id="getMemberList" resultType="com.webook.domain.MemberVO">
		SELECT user_email, user_name, user_tel, user_addr, to_number(to_char(user_regdate,'YYYY')), blacklist
		FROM customer_info
	</select>
	
	<!-- 신고 게시글  -->
	
	
	<!-- 차트 -->	
	<!-- 연령대 별 인원 수 구하기 -->
	<!-- <select id="agechart" resultType="int" parameterType="hashMap">
		SELECT 
		    CASE WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 10 and 19 THEN '10대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 20 and 29 THEN '20대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 30 and 39 THEN '30대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 40 and 49 THEN '40대'
		         WHEN to_number(to_char(sysdate,'YYYY'))-to_number(to_char(user_birth,'YYYY')) BETWEEN 50 and 59 THEN '50대'
		         ELSE '60대이상'
		         END 
		FROM customer_info;
	</select> -->
	
	<!-- 월별 매출 -->
	<!-- <select id="monthsales">
		SELECT month(total_price)
		FROM order_items
		WHERE order_no LIKE to_char(sysdate,'YYYY');
	</select> -->
	
	
	
	<!-- 상품 등록 -->
	<insert id="insertProduct" parameterType="com.webook.domain.ProductVO">
	
		INSERT INTO product_list(product_no,product_name,product_writer,genre_no
								,product_publisher,product_date,product_cnt
								,product_price,product_desc,product_lang
								<if test="product_desc_image != null">
								,product_desc_image
								</if>
								)
		VALUES (#{product_no},#{product_name},#{product_writer},#{genre_no}
								,#{product_publisher},#{product_date},#{product_cnt}
								,#{product_price},#{product_desc},#{product_lang}
								<if test="product_desc_image != null">
								,#{product_desc_image}
								</if>
								)
	</insert>
	
	<!-- 재고 목록 출력 -->
	<select id="getProductList" resultType="com.webook.domain.ProductVO">
		SELECT product_no,genre_no, product_name, product_writer,product_cnt 
		FROM product_list
	</select>
	
	<!-- 상품 수량 변경 -->
	<update id="modifyCount" parameterType="com.webook.domain.ProductVO">
		UPDATE product_list
		SET product_cnt =  product_cnt +  #{product_cnt}
		WHERE product_no = #{product_no}
	</update>











</mapper>