<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.mapper">

	<select id="getBookreportList" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		
		SELECT bookreport_no, user_email, product_no, 
                            write_date, bookreport_title, 
                            bookreport_content, view_count, report_kind,
                            star FROM bookreport
		<if test="report_kind != null">
		WHERE report_kind = #{report_kind}
		</if>
		ORDER BY bookreport_no desc
				
	</select>
<!-- 	
	<select id="getBookreportCount" resultType="com.webook.domain.CommunityVO">
		SELECT count(*) FROM bookreport
		<if test="report_kind != null">
		WHERE report_kind = #{report_kind}
		</if> 
	</select> -->





















</mapper>