<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.mapper">
	
	<!-- 게시글 목록 페이지 리스트 -->
	<select id="getBookreportList" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		
		SELECT a.*, b.user_name, c.jjoa_no FROM bookreport a
		INNER JOIN customer_info b ON a.user_email = b.user_email
		LEFT OUTER JOIN jjoa c ON a.bookreport_no = c.bookreport_no and a.user_email = c.user_email
		<if test="report_kind != null">
		WHERE a.report_kind = #{report_kind}
		</if>
		ORDER BY a.bookreport_no desc
				
	</select>
	
	<!-- 게시물등록 -->
	<insert id="insertBookreport" parameterType="com.webook.domain.CommunityVO" >
		INSERT INTO bookreport(bookreport_no, user_email, product_no, write_date,
								bookreport_title, bookreport_content, view_count, report_kind,
                            	star)
		VALUES(bookreport_seq.nextval, #{user_email}, #{product_no}, sysdate, #{bookreport_title},
				#{bookreport_content}, 0, #{report_kind}, #{star})
	
	</insert>
	
	<!-- 게시물 상세 -->
	<select id="getBookreport" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		SELECT a.*, b.user_name, c.jjoa_no FROM bookreport a
		INNER JOIN customer_info b ON a.user_email = b.user_email
		LEFT OUTER JOIN jjoa c ON a.bookreport_no = c.bookreport_no and a.user_email = c.user_email
		WHERE a.bookreport_no = #{bookreport_no}
	</select>
	<!-- 게시물 수정 -->
	<update id="updateBookreport" parameterType="com.webook.domain.CommunityVO">
		
	</update>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBookreport" parameterType="com.webook.domain.CommunityVO">
		DELETE FROM bookreport
		WHERE user_email = #{user_email} and bookreport_no = #{bookreport_no}
	</delete>
	
	<select id="searchBookreportList" parameterType="hashmap" resultType="com.webook.domain.CommunityVO">
		SELECT * FROM (SELECT * FROM bookreport 
						WHERE ${search_select} like '%'||'${search_text}'||'%')
			
		WHERE write_date BETWEEN ${date_select} and sysdate
		
	</select>
	
	<!-- 조회수 증가 -->
	<update id="viewCount">
		UPDATE bookreport
		SET view_count = view_count+1
		WHERE bookreport_no = ${bookreport_no}
	</update>
	
<!-- 	
	<select id="getBookreportCount" resultType="com.webook.domain.CommunityVO">
		SELECT count(*) FROM bookreport
		<if test="report_kind != null">
		WHERE report_kind = #{report_kind}
		</if> 
	</select> -->





















</mapper>