<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="community.mapper">
	
	<!-- 게시글 목록 페이지 리스트 -->
	<select id="getBookreportList" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		
		SELECT a.*, b.user_name, nvl(c.jjoa_count,0) jjoa_count FROM bookreport a
		INNER JOIN customer_info b ON a.user_email = b.user_email
		LEFT OUTER JOIN (SELECT count(*) jjoa_count, bookreport_no FROM jjoa
							group by bookreport_no) c 
		ON a.bookreport_no = c.bookreport_no
		<if test="report_kind != null">
		WHERE a.report_kind = #{report_kind}
		</if>
		ORDER BY a.bookreport_no desc
				
	</select>
	
	<!-- 게시글 목록 페이지 총 갯수 -->
	<select id="totalPageCount" parameterType="com.webook.domain.CommunityVO" resultType="int">
		SELECT count(*) total_count FROM bookreport
		<if test="report_kind != null">
		WHERE report_kind = #{report_kind}
		</if>	
	</select>
	
	<!-- 게시물등록 -->
	<insert id="insertBookreport" parameterType="com.webook.domain.CommunityVO" >
		INSERT INTO bookreport(bookreport_no, user_email, product_no, write_date,
								bookreport_title, bookreport_content, view_count, report_kind,
                            	star)
		VALUES(bookreport_seq.nextval, #{user_email}, #{product_no}, sysdate, #{bookreport_title},
				#{bookreport_content}, 0, #{report_kind}, #{star})
	
	</insert>
	
	<!-- 게시물 상세 -->
	<select id="getBookreport" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		SELECT a.*, b.user_name, c.jjoa_no FROM bookreport a
		INNER JOIN customer_info b ON a.user_email = b.user_email
		LEFT OUTER JOIN jjoa c ON a.bookreport_no = c.bookreport_no and a.user_email = c.user_email
		WHERE a.bookreport_no = #{bookreport_no}
	</select>
	
	<!-- 게시물 삭제 -->
	<delete id="deleteBookreport" parameterType="com.webook.domain.CommunityVO">
		DELETE FROM bookreport
		WHERE user_email = #{user_email} and bookreport_no = #{bookreport_no}
	</delete>
	
	<select id="searchBookreportList" parameterType="hashmap" resultType="com.webook.domain.CommunityVO">
		SELECT * FROM (SELECT * FROM bookreport a INNER JOIN customer_info b ON a.user_email = b.user_email
						WHERE ${search_select} like '%'||'${search_text}'||'%')
			
		WHERE write_date BETWEEN ${date_select} and sysdate
		ORDER BY bookreport_no desc
	</select>
	
	<!-- 조회수 증가 -->
	<update id="viewCount">
		UPDATE bookreport
		SET view_count = view_count+1
		WHERE bookreport_no = ${bookreport_no}
	</update>
	
	<!-- 게시글 신고 -->
	<insert id="reportBook" parameterType="com.webook.domain.ReportcommunityVO">
		INSERT INTO report_article(rep_article_no, rep_article_info, rep_article_date,
                            article_no, rep_article_email)
		VALUES(report_article_seq.nextval, #{rep_article_info}, sysdate, #{article_no}, #{rep_article_email})
	</insert>
	
	<!-- 신고 중복 체크 -->
	<select id="reportBookCheck" parameterType="com.webook.domain.ReportcommunityVO" resultType="com.webook.domain.ReportcommunityVO">
		SELECT * FROM report_article
		WHERE article_no = #{article_no} and rep_article_email = #{rep_article_email}
	</select>
	
	<!-- 좋아요 등록 -->
	<insert id="insertJjoa" parameterType="com.webook.domain.CommunityVO">
		INSERT INTO jjoa(jjoa_no, bookreport_no, user_email)
		VALUES(jjoa_seq.nextval, #{bookreport_no}, #{user_email})
	</insert>
	
	<!-- 좋아요 취소 -->
	<delete id="deleteJjoa" parameterType="com.webook.domain.CommunityVO">
		DELETE FROM jjoa
		WHERE bookreport_no = #{bookreport_no} and user_email = #{user_email}
	</delete>
	
	<!-- 좋아요 중복 체크 -->
	<select id="checkJjoa" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		SELECT * FROM jjoa
		WHERE bookreport_no = #{bookreport_no} and user_email = #{user_email}
	</select>
	
	<!-- 좋아요 갯수 -->
	<select id="countJjoa" parameterType="com.webook.domain.CommunityVO" resultType="com.webook.domain.CommunityVO">
		SELECT count(*) jjoa_count FROM jjoa
		WHERE bookreport_no = #{bookreport_no}
	</select>	

	
	<select id="searchBestReport" resultType="com.webook.domain.CommunityVO">
		SELECT a.*, b.user_name, nvl(c.jjoa_count,0) jjoa_count FROM bookreport a
		INNER JOIN customer_info b ON a.user_email = b.user_email
		LEFT OUTER JOIN (SELECT count(*) jjoa_count, bookreport_no FROM jjoa
							group by bookreport_no) c 
		ON a.bookreport_no = c.bookreport_no
		ORDER BY jjoa_count desc
	</select>




















</mapper>