<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main.mapper">
	<select id="showReviews" resultType="hashmap">
		SELECT
		    br.bookreport_no bookreport_no, 
		    br.bookreport_content bookreport_content,
		    pl.product_no product_no,
		    pl.product_name product_name, 
		    pl.product_image product_image,
		    ci.user_name user_name,
		    br.star star,
		    br.write_date write_date,
		    br.user_email user_email
		FROM 
		    bookreport br 
		    LEFT OUTER JOIN product_list pl
		        ON br.product_no = pl.product_no
		    LEFT OUTER JOIN customer_info ci
		        ON br.user_email = ci.user_email
		ORDER BY br.write_date DESC
		
	</select>

	<select id="showBestSeller" resultType="com.webook.domain.ProductVO">
		SELECT
		    lst.product_no product_no,
		    lst.product_name product_name,
		    lst.product_writer product_writer,
		    lst.product_price product_price,
		    lst.product_image product_image,
		    lst.product_desc product_desc,
		    lst.product_publisher product_publisher
		FROM
		    product_list lst
		    LEFT OUTER JOIN (
		        SELECT
		            product_no,
		            SUM(ORDER_CNT) cnt
		        FROM
		            order_items
		        GROUP BY
		            product_no
		    ) item
		    ON lst.product_no = item.product_no
		ORDER BY
		    NVL(item.cnt,0) DESC
	</select>
	<select id="showIssueItems" resultType="com.webook.domain.ProductVO">
		SELECT 
	    	p.product_no product_no,
	    	p.product_name product_name,
	    	p.product_image product_image,
	    	p.product_price product_price,
	    	p.product_writer product_writer,
	    	p.product_publisher product_publisher 
		FROM product_list p
    		LEFT OUTER JOIN(
        		SELECT 
            		product_no,count(product_no) cnt
        		FROM 
            		bookreport
        		GROUP BY 
            		product_no) b
    		ON p.product_no = b.product_no
		ORDER BY 
		    NVL(b.cnt,0) DESC
	</select>
</mapper>