<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product.mapper">

<!-- 국내 도서 목록 나오기 / 검색 목록 나오기 (이름, 작가 검색)-->
<select id="genreKo" parameterType="com.webook.domain.ProductVO" resultType="com.webook.domain.ProductVO">

SELECT *
FROM product_list
<where>

<choose>
<when test="genre_no != null" >
 genre_no = #{genre_no}
</when>
<otherwise>
PRODUCT_NAME like '%'||'${searchKeyword}'||'%' or PRODUCT_WRITER like '%'||'${searchKeyword}'||'%'
</otherwise>
</choose>
</where>

</select>

<!-- 해외도서 목록 나오기 -->
<select id="genreFo" parameterType="com.webook.domain.ProductVO" resultType="com.webook.domain.ProductVO">

SELECT *
FROM product_list
<where>
 genre_no = #{genre_no}
</where>

</select>

<!-- 상세페이지 책 정보 나오기 -->
<select id="getProduct" parameterType="com.webook.domain.ProductVO" resultType="com.webook.domain.ProductVO">

SELECT 
product_name, product_writer, product_publisher, product_price,
 product_sale, product_no,to_char(product_date, 'yyyy"년"mm"월"dd"일"') product_date, 
 product_publisher, product_image, product_desc_image, product_desc, product_price - product_sale product_lang
FROM product_list
WHERE product_no=#{product_no}
</select>

<!-- 상세페이지 관련 장르 나오기 -->
<select id="getOtherBook" parameterType="com.webook.domain.ProductVO" resultType="com.webook.domain.ProductVO">

<![CDATA[

select ROWNUM, product_name, product_price, product_image, product_no
from (select * from product_list ORDER BY rownum desc)
where ROWNUM<5 and genre_no = (select genre_no from product_list where product_no=#{product_no})
]]>
</select>

<!-- 상세페이지 독후감 나오기 -->
<select id="getReport"  parameterType="com.webook.domain.ProductVO" resultType="hashmap">
<![CDATA[
SELECT
ROWNUM,book.bookreport_title bookreport_title, book.bookreport_content bookreport_content,book.star star,
customer.user_name user_name
FROM bookreport	book Inner JOIN customer_info customer
ON book.user_email = customer.user_email
where ROWNUM<3 and product_no= #{product_no}
]]>
</select>

<!-- 현재 구매내역 나오기 -->
<select id="getPurchase" parameterType="com.webook.domain.MemberVO" resultType="hashmap" >
select product_name product_name, item.order_cnt order_cnt,item.total_price total_price, to_char(lst.payment_date, 'yy-mm-dd') payment_date, lst.order_no order_no, lst.delivery_info delivery_info
from order_list lst, product_list plst, (select count(*) order_cnt, sum(total_price) total_price, order_no, max(product_no) product_no
from order_items
GROUP BY order_no) item
where lst.order_no = item.order_no and item.product_no=plst.product_no and lst.USER_EMAIL =#{user_email}  and lst.delivery_info !='배송완료' and lst.delivery_info !='결제취소'

 </select>

<!-- 이전 구매내역 나오기 -->
<select id="prePurchase" parameterType="com.webook.domain.MemberVO" resultType="hashmap" >
SELECT 
pl.product_name product_name,
it.order_cnt order_cnt, 
it.total_price total_price, 
To_CHAR(li.payment_date, 'yy-mm-dd') payment_date, 
li.order_no order_no,
li.delivery_info delivery_info
FROM order_list li, order_items it, product_list pl
WHERE li.order_no = it.order_no
and it.product_no  = pl.product_no and li.USER_EMAIL = #{user_email} and (li.delivery_info ='배송완료' or li.delivery_info='결제취소')
 </select>
 
 
 
 
</mapper>